<html>
<head>
    <title>Example 4: Template with httprouter params</title>
</head>
<body>
    <h1>Dog</h1>
    <ul>
        <li><strong>{{.Name}}</strong></li>
        <li>{{.Age}} years old</li>
    </ul>
</body>
</html>